body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.navigation {
  width: 980px;
  height: 75px;
  margin: auto;
}

.navigation-brand {
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
  background-color: #FFF;
}

.navigation-brand b {
  margin-right: 5px;
}

.navigation-list {
  list-style: none;
  float: right;
  padding:0;
  margin:0;
  display: flex;
  font-size: 95%;
  background: url(menu_cut.jpg) no-repeat scroll right;
}

.navigation-item {
  cursor: pointer;
  display: inline-block;
  height: 75px;
  padding: 0px 40px;
  background-color: #FFF;
}

.navigation-item.active {
  background-color: rgba(0,0,0,0) !important;
  color: #FFF;
}

.navigation-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #10115;

}

.navigation-item:hover {
  background-color: #f3f3f3;
}

.driver {
  width: 100%;
  height: 465px;
  background: url(main_img_1.jpg) scroll no-repeat center;
  background-color: #000;
  border-bottom: 7px solid #e5e5e5;
  text-align: center;
  text-shadow: 0px 1px #474a4c;
}

.drivertext h1 {
  color: #fff;
  font-weight: 200;
  font-size: 45px;
  padding-top: 120px;
  margin-top: 0;
  letter-spacing: normal;
}

.drivertext h4 {
  color: #bcbcbc;
  font-weight: 300;
  font-size: 25px;
  margin-top: -20px;
  letter-spacing: normal;
}

.pxline {
  background-color: #fff;
  color: #fff;
  height: 1px;
  width: 100%;
  opacity: 0.1;
  position: relative;
  top: 55px;
}

.button {
  height: 20px;
  background-color: #e66e0d;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 35px;
  border: 5px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
  text-shadow: 0px 1px #d72d05;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
}

.button:hover {
  text-shadow: 0px -1px #d72d05;
  border: 5px solid rgba(0, 0, 0, .3);
  opacity: 0.9;
}

.driver .button {
  position: relative;
  top: 43px;
}

.content {
  margin: auto;
  width: 960px;
  padding: 10px;
}

.triple-column {
  display: flex;
  justify-content: space-between;
  height: 152px;
  margin-bottom: 35px;
  color: #37393a;
  letter-spacing: normal;
}

.thirds
{
  width: 30%;
}

.thirds h1 {
  font-size: 28px;
  font-weight: 300;
}

.thirds h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.thirds p {
  font-size: 14px;
  line-height: 23px;
}

.triple-column a, .more a {
  color: orange;
  transition: color 0.3s ease-in-out;
}

.triple-column a:hover, .more a:hover {
  color: black;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373737;
  color: #c3ccd5;
  width: 922px;
  height: 110px;
  padding: 10px 0 0 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.banner::after {
  content: '';
  width: 1px;
  height: 120px;
  background-color: #FFF;
  opacity: 0.1;
  position: relative;
  top: -5px;
  right: 120px;
}

.banner p {
  font-size: 24.5px;
  margin-right: 40px;
}

.banner p b {
  color: #fff;
  font-weight: 300;
}

.portfolio {
  font-size: 30px;
  font-weight: 300;
  color: #37393a;
}

.portfolio .title {
  margin-bottom: 25px;
}

.photo
{
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 220px;
  height: 220px;
  background-color: #e66e0d;

}

.photo-description {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50px;
  width: 100%;
}

.photo-description span, .photo-description p {
  margin: 5px 0;
}

.photo-description span {
  font-size: 20px;
}

.photo-description p {
  font-size: 17px;
}

.photo img {
  position: absolute;
  transition: opacity 0.5s;
}


.photo img:hover {
  opacity: 0.1;
}

.more {
  font-size: 20px;
  font-weight: 400;
  color: #37393a;
  letter-spacing: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.more a {
  color: #e66e0d;
}

.bottom_content {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.leftside {
  width: 550px;
  font-size: 15px;
  font-weight: 400;
  color: #37393a;
  letter-spacing: 0;
  line-height: 25px;
}

.leftside h1 {
  font-weight: 300;
}

.shortnote {
  margin-bottom: 5em;
}

.leftside a {
  transition: all 0.3s;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px #dbdbdb;
  background-clip: padding-box;

}

.leftside a:hover {
  background-color: #d76203;
  border: 5px solid #f5f5f5;
  box-shadow: 0px 0px 0px 1px #cbcbcb;
}

.rightside {
  width: 318px;
}

.opinion {
  border: 1px solid #bbb;
  border-bottom: none;
  padding: 20px 25px 30px 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  color: #474a4c;
}

.opinion.last {
  border-bottom: 1px solid #bbb;
}

.opinion-triangle {
  width: 15px;
  height: 15px;
  position: relative;
  transform: rotate(-45deg);
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: white;
  z-index: 1;
  float: right;
  top: -8px;
  right: 25px;
}

.options-triangle-second {
  border-bottom: 1px solid #ccc;
  width: 316px;
  position: relative;
  top: -18px;
  height: 4px;
  float: right;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.options-triangle-second::after {
  content: '';
  width: 17px;
  height: 17px;
  position: relative;
  transform: rotate(-45deg);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: right;
  top: -4px;
  right: 23px;
  background: white;
}

.rightside .dots {
  text-decoration: none;
  font-size: 50px;
  position: relative;
  top: -50px;
  margin-right: -5px;
  color: #bbb;
  transition: color 0.5s;
}

.rightside .dots:hover {
  color: #37393a;
}

.rightside .last-line {
  font-size: 15px;
  letter-spacing: normal;
  position: relative;
  top: -40px;
  left: 150px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  background-color: #000;
  background-image: url(bg_footer.jpg);
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0px;
  padding: 0 40px;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
