body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.navigation {
  width: 980px;
  height: 75px;
  margin: auto;
}

.navigation-brand {
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
  background-color: #FFF;
}

.navigation-brand b {
  margin-right: 5px;
}

.navigation-list {
  list-style: none;
  float: right;
  padding:0;
  margin:0;
  display: flex;
  font-size: 95%;
  background: url(menu_cut.jpg) no-repeat scroll right;
}

.navigation-item {
  cursor: pointer;
  display: inline-block;
  height: 75px;
  padding: 0px 40px;
  background-color: #FFF;
}

.navigation-item.active {
  background-color: rgba(0,0,0,0) !important;
  color: #FFF;
}

.navigation-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #10115;

}

.navigation-item:hover {
  background-color: #f3f3f3;
}

.driver {
  width: 100%;
height: 465px;
background: url(main_img_1.jpg) scroll no-repeat center;
background-color: #000;
border-bottom: 7px solid #e5e5e5;
}

.content
{
  margin: auto;
  width: 960px;
  padding: 10px;
}

.thirds
{
float: left;
width: 30%;
margin: 0 15px 35px 0;
color: #37393a;
letter-spacing: 0px !important;
}

h1
{
  font-size: 28px;
  font-weight: 300;
}

h3
{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.thirds p
{
  font-size: 14px;
  line-height: 23px;
}

a[href*="themeforest"]
{
  color: orange;
}

.banner
{
  clear: both;
  background-color: #000;
  color: #c3ccd5;
  width: 922px;
  height: 111px;
  padding: 10px 0 0 20px;
  font-weight: 300;
  margin-bottom: 50px;
  background-image: url(banner1.jpg);
}

.banner p
{
  display: block;
  float: left;
  font-size: 24.5px;
  margin: 32px 0 0 20px;
}

.banner p b
{
  color: #fff;
  font-weight: 300;
}

.banner a
{
  margin-top: 21px;
  margin-left: 50px;
}

.button
{
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 75px;
  background-color: #e66e0d;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  border: 5px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
}

.driver .button
{
  margin:auto;
}

.photo
{
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 220px;
  height: 220px;
  background-color: #e66e0d;

}

.photo-description {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50px;
  width: 100%;
}

.photo-description h4, .photo-description h5 {
  margin: 5px 0;
}

.photo img
{
  position: absolute;
}


.photo img:hover
{
  opacity: 0.1;

}

.more
{
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0 !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.more a
{
  color: #e66e0d;
}

.bottom_content
{
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.leftside
{
  float: left;
  width: 50%;
}

.rightside
{
  float: left;
  width: 50%;
}

.footer
{
  clear: both;
  height: 107px;
  background-color: #000;
  background-image: url(bg_footer.jpg);
  color: #c3ccd5;
  font-size: 14px;
  letter-spacing: 0px;
}

.footer p
{
  float: left;
}

.footer span
{
  float: right;
}
